@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  padding: 0vh;
  margin: 0vh;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* .test {
  border: 1px red solid;
} */

.page {
  /* width: 100vh; */
  height: 100dvh;
}

.center-contents {
  display: flex;
  flex-direction: var(--flex-dir, row);
  background-image: var(--bg, none);
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.flex-container-col {
  display: flex;
  flex-direction: column;
  width: 100%;
}
